.navbar {
  height: 80px;
  width: 100%;
  background: #5b3825;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.15);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  color: #f5d6a1;
  font-size: 30px;
  font-weight: bold;
  font-family: Georgia, serif;
}

.nav-links {
  display: flex;
  gap: 35px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 0;
  height: 3px;
  background: #d4a373;
  transition: 0.3s;
}

.nav-links a:hover::after,
.nav-links a.active::after {
  width: 100%;
}

.nav-links a:hover,
.nav-links a.active {
  color: #d4a373;
}


@media(max-width:768px){

  .navbar {
    flex-direction: column;
    height: auto;
    padding: 20px;
    gap: 20px;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }

}